//----------------------
// DASHBOARD HEADER
header:not(.login) {
  background: $white;
  height: 60px;
  padding: 20px;
  @include flex(inherit, space-between, center);
  position: sticky;
  z-index: 99;
  right: 0;
  top: 0;
  @media screen and (max-width: 1024px) {
    left: $sidebar-small-width;
  }
}
.page__title h1 {
  font-family: $title-font-family;
  font-weight: 600;
  font-size: 24px;
  color: map-get($map: $black, $key: "60");
}

.user__section {
  @include flex(inherit, center, center);
  .notification {
    cursor: pointer;
    margin-right: 25px;
    @include transition(all);
    &::after {
      content: "";
      display: inline-block;
      background-image: url(../../assets/icon_notification_blue.svg);
      height: 20px;
      width: 20px;
      position: relative;
      top: 2px;
      @include transition(all);
    }
    &:hover::after {
      background-image: url(../../assets/icon_notification_orange.svg);
    }
  }
}

//----------------------
// DASHBOARD LOGIN
header.login {
  padding: 0 60px;
  height: 76px;
  @include flex(row, start, center);
  img {
    max-width: 90%;
  }
}
