.login__box {
  max-width: 420px;
  background: $white;
  left: 20px;
  right: 20px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  @include flex(column);
  @include border-radius;
  padding: 50px 30px;
}

.login__box__header {
  @include flex(column);
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  &__logo {
    margin-bottom: 30px;
  }
  &__title {
    font-size: 20px;
    font-weight: 600;
    color: map-get($map: $black, $key: "100");
    font-family: $title-font-family;
    margin-bottom: 10px;
  }
  &__text {
    color: map-get($map: $black, $key: "30");
    font-size: 14px;
  }
}

.login__box__main {
  @include flex(column);
  width: 100%;
  .login__box__main__container {
    width: 100%;
    margin-bottom: 30px;
    text-align: right;
    position: relative;
    a.see__password:before {
      content: "";
      position: absolute;
      top: 17px;
      right: 20px;
      width: 15px;
      height: 15px;
      background-image: url(../../assets/icon_eye-off.svg);
      @include background_images(contain, center);
    }
    a.recover__password {
      text-transform: capitalize;
      margin-top: 10px;
      display: inline-block;
      color: map-get($map: $primary, $key: "100");
      font-size: 14px;
      @include transition(all);
      &:hover {
        color: map-get($map: $primary, $key: "80");
        text-decoration: underline;
      }
    }
  }
}

.login__box__footer {
  @include flex(column);
  width: 100%;
  margin-top: 20px;
  &__signIn {
    color: map-get($map: $black, $key: "30");
    font-size: 14px;
  }
  &__btn__signUp {
    color: map-get($map: $primary, $key: "100");
    cursor: pointer;
    @include transition(all);
    &:hover {
      color: map-get($map: $primary, $key: "80");
      text-decoration: underline;
    }
  }
  &__btn__login {
    margin-top: 45px;
  }
}
