main {
  background: $background;
  height: 100vh;
}

main:not(.login) {
  width: calc(100% - $sidebar-big-width);
  overflow: hidden;
  overflow-y: scroll;
  @media screen and (max-width: 1024px) {
    width: calc(100% - $sidebar-small-width);
  }
}
