.graphic__big {
  //header
  .card__header__top {
    select {
      margin-left: 20px;
    }
    &__date {
      font-size: 13px;
      font-weight: 400;
    }
  }
  //content
  .graphic__bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    .graphic__bar__container {
      display: flex;
      height: 100%;
    }
    .bar {
      align-items: center;
      display: flex;
      flex: 3;
      flex-direction: column;
      justify-content: space-between;
      &__one {
        align-items: start;
        color: map-get($map: $black, $key: "20");
        flex: 1;
        font-size: 11px;
      }
      .bar {
        background-color: $background;
        border-radius: 50px;
        height: 100%;
        position: relative;
        width: 13px;
        &__progress {
          background: map-get($map: $primary, $key: "100");
          border-radius: 50px;
          bottom: 0;
          left: 0;
          position: absolute;
          right: 0;
        }
      }
    }
    .labels {
      align-items: flex-start;
      display: flex;
      flex-direction: row;
      justify-content: end;
      margin-top: 20px;
      div {
        align-items: center;
        color: map-get($map: $black, $key: "20");
        display: flex;
        flex: 3;
        font-size: 11px;
        height: 20px;
        justify-content: center;
        padding: 0 2px;
        word-break: break-all;
      }
      div:empty {
        flex: 1;
      }
    }
  }
}

.graphic__small {
  display: flex;
  &__bar {
    color: map-get($map: $black, $key: "100");
    font-weight: 600;
    height: 100%;
    padding: 6px 8px;
    @include flex(column, flex-end, flex-end);
    //number of columns
    &__one {
      background: map-get($map: $primary, $key: "100");
    }
    &__two {
      background: map-get($map: $primary, $key: "50");
    }
    &__three {
      background: map-get($map: $secondary, $key: "100");
    }
  }
}
