@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,500&display=swap");

html,
body {
  font-family: "Open Sans", sans-serif;
}

/* media query a utilizar em mobile */
/* para screen, entre 0 e o maximo width de 768px*/

body {
  background-color: rgb(228, 237, 250);
}

img {
  max-width: 100%;
}

header {
  border-bottom: 1px solid #374a59;
  display: flex;
}

header h1 {
  color: #374a59;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  section {
    flex-direction: column;
  }
}

section article {
  background-color: #ffffff;
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  section article {
    display: flex;
    flex-direction: row;
  }
}

section article .article_header {
  background: #bcd1ff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  border-radius: 8px 8px 0 0;
}

@media screen and (max-width: 768px) {
  section article .article_header {
    border-radius: 8px 0 0 8px;
    padding: 10px;
  }
}

section article .article_main {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  section article .article_main {
    padding: 15px;
  }
}

section article .article_main .info {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  color: #6e798c;
}

section article .article_main .category {
  text-transform: uppercase;
}

section article .article_main .title {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #081f32;
}

@media screen and (max-width: 768px) {
  section article .article_main .title {
    font-size: 15px;
    margin-top: 0px;
  }
}

section article .article_main .text {
  margin-top: 20px;
  color: #374a59;
}
@media screen and (max-width: 768px) {
  section article .article_main .text {
    display: none;
  }
}

section article .article_main .more_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  section article .article_main .more_info {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  section article .article_main .more_info {
    justify-content: flex-end;
  }
}

section article .article_main .more_info .user {
  display: flex;
  align-items: center;
  color: #007ae9;
  font-size: 12px;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  section article .article_main .more_info .user {
    display: none;
  }
}

section article .article_main .more_info .user img {
  height: auto;
  width: 45px;
  clip-path: circle();
}

section article .article_main .more_info .read_more a {
  color: #007ae9;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
}

section article .article_main .more_info .read_more a::after {
  content: "";
  margin-left: 5px;
  height: 11px;
  width: 11px;
  display: inline-block;
  position: relative;
  top: 1px;
  background: url(./assets/arrow-right-solid.svg) no-repeat;
}
