@import url(‘https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,300;0,400;1,500,600,700&display=swap’);

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: ‘IBM Plex Sans’, sans-serif;
}

html,
body {
  font-family: ‘IBM Plex Sans’, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

button {
  font-family: inherit;
  line-height: 1.15;
  margin: 0;
}

body {
  background: linear-gradient(
    267deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 74%,
    rgba(252, 127, 69, 1) 100%
  );
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.card {
  width: 450px;
  border-radius: 8px;
  background: linear-gradient(
    228deg,
    rgba(250, 188, 65, 1) 15%,
    rgba(252, 127, 69, 1) 34%,
    rgba(209, 6, 6, 1) 99%
  );
  position: relative;
  box-shadow: 5px 1px 16px 13px rgba(0, 0, 0, 0.17);
  animation-name: bounce-3;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes bounce-3 {
  0% {
    transform: rotateZ(0deg);
  }
  10% {
    transform: rotateZ(1deg);
  }
  20% {
    transform: rotateZ(2deg);
  }
  30% {
    transform: rotateZ(1deg);
  }
  40% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  60% {
    transform: rotateZ(-1deg);
  }
  70% {
    transform: rotateZ(-2deg);
  }
  80% {
    transform: rotateZ(-2deg);
  }
  90% {
    transform: rotateZ(-1deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 20px;
  font-weight: 500;
}

.card-logo img {
  max-width: 65%;
}

.card-price {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
}

.card-main {
  padding: 20px;
  overflow: hidden;
}

.card-title {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

.card-description {
  color: rgb(255, 255, 255);
  margin-top: 20px;
  line-height: 1.5;
  font-size: 16px;
  width: 45ch;
}

.card-background-font {
  font-size: 300px;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0.1;
  color: rgb(255, 255, 255);
  transform: translateX(-50px);
}

.card-image {
  position: absolute;
  z-index: 9;
  top: 250px;
  left: 10px;
  z-index: 1;
}

.card-image img {
  max-width: 550px;
}

.card-footer {
  background: white;
  border-radius: 0 0 8px 8px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.card-buy {
  position: absolute;
  z-index: 2;
  top: 40px;
}

.card-buy button {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgba(131, 58, 180, 1);
  border-radius: 100px;
  padding: 15px 40px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  color: rgba(131, 58, 180, 1);
  cursor: pointer;
  transition: 0.2s all;
  letter-spacing: 5px;
}

.card-buy button:hover {
  background: rgba(131, 58, 180, 1);
  color: rgb(255, 255, 255);
}

.card-shoes-name {
  margin-top: 100px;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-size: 12px !important;
  font-weight: 300;
  color: rgba(000, 000, 000, 0.3);
}
