$columns: 12;

.container__fluid {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  padding-top: 40px;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.container {
  margin: 0;
  width: 100%;
}

%​col {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 20px;
}

@for $i from 1 through $columns {
  .col-#{$i} {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 20px;
    width: calc(100% / $columns * $i);
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}
