//------------------------
// SIDEBAR
//------------------------
.sidebar {
  background: $white;
  height: 100vh;
  padding: 15px 30px;
  position: relative;
  width: $sidebar-big-width;
  @include flex(column, inherit, inherit);
  @media screen and (max-width: 1024px) {
    padding: 10px;
    width: $sidebar-small-width;
  }
}

//------------------------
// LOGO
//------------------------
.logo {
  align-items: center;
  display: flex;
  margin-bottom: 60px;
  @include flex(row, start);
  span {
    color: $tertiary;
    font-family: $title-font-family;
    font-size: 22px;
    font-weight: 700;
    margin-left: 10px;
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
}

//------------------------
// SIDEBAR END
//------------------------
.sidebar__end {
  bottom: 20px;
  left: 30px;
  position: absolute;
  right: 30px;
  @media screen and (max-width: 1024px) {
    left: 10px;
    right: 10px;
  }
}

.contact__suport {
  background-color: map-get($map: $black, $key: "10");
  background-image: url(../../assets/icon_headphones.svg);
  color: map-get($map: $black, $key: "100");
  font-weight: 500;
  line-height: 17px;
  margin-bottom: 15px;
  padding: 15px 20px 14px 53px;
  @include background_images(22px, 18px center);
  @include border-radius;
  @include flex;
  @include transition(all);
  &:hover {
    background: map-get($map: $black, $key: "30");
    background-image: url(../../assets/icon_headphones_hover.svg);
    color: $white;
    margin-bottom: 15px;
    @include background_images(22px, 18px center);
  }
  @media screen and (max-width: 1024px) {
    font-size: 0;
    padding: 15px;
  }
}

.gift {
  background: map-get($map: $secondary, $key: "100");
  display: block;
  padding: 14px 20px;
  @include border-radius;
  p {
    background-image: url(../../assets/icon_gift.svg);
    color: map-get($map: $black, $key: "100");
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 15px;
    padding-left: 35px;
    padding-top: 2px;
    @include flex;
    @include background_images(22px, 0px center);
    @include transition(all);
  }
  span {
    background-image: url(../../assets/icon_chevron_right.svg);
    color: map-get($map: $black, $key: "40");
    font-size: 12px;
    font-weight: 400;
    margin-top: 22px;
    @include flex;
    @include background_images(18px, 140px center);
    @include transition(all);
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
  &:hover {
    span {
      background-image: url(../../assets/icon_chevron_right_hover.svg);
      color: map-get($map: $black, $key: "100");
      text-decoration: underline;
    }
  }
  @media screen and (max-width: 1024px) {
    font-size: 0;
    p {
      background-position: center;
      margin-bottom: 0;
      padding-left: 0;
    }
  }
}

.logout {
  background-image: url(../../assets/icon_logout.svg);
  color: $warning;
  margin-bottom: 25px;
  margin-top: 45px;
  padding-left: 25px;
  @include flex;
  @include background_images(18px, 0px center);
  @include transition(all);
  &:hover {
    text-decoration: underline;
  }
  @media screen and (max-width: 1024px) {
    background-color: $warning;
    background-image: url(../../assets/icon_logout__white.svg);
    background-position: center;
    font-size: 0;
    margin-bottom: 0;
    padding: 25px 15px;
    @include border-radius;
  }
}
