//transition
@mixin transition($all) {
  -webkit-transition: $all 0.3s ease;
  -moz-transition: $all 0.3s ease;
  -ms-transition: $all 0.3s ease;
  -o-transition: $all 0.3s ease;
  transition: $all 0.3s ease;
}

//general flex
@mixin flex($direction: row, $justify: flex-start, $align: center) {
  align-items: $align;
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}

//general border-radius
@mixin border-radius {
  border-radius: 12px;
}

//icons
@mixin icon_pseudoElement($heigh, $width, $background: "transparent") {
  background-color: transparent;
  background-color: $background;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 4px;
  content: "";
  display: inline-block;
  height: $heigh;
  margin-right: 10px;
  width: $width;
}

//background images
@mixin background_images($size, $position) {
  background-position: $position;
  background-repeat: no-repeat;
  background-size: $size;
}
