//btn plus
.btn__icon {
  background-color: map-get($map: $primary, $key: "100");
  color: $white;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  padding: 15px 25px 15px 60px;
  background-repeat: no-repeat;
  @include border-radius;
  @include transition(all);
  line-height: 1.2;
  &:hover {
    background-color: map-get($map: $primary, $key: "80");
  }
}

.btn__icon {
  &__plus {
    background-image: url(../../assets/icon_plus_white.svg);
    @include background_images(22px, 22px center);
  }
}

.btn__login {
  background-color: map-get($map: $primary, $key: "100");
  color: $white;
  font-size: 19px;
  font-weight: 400;
  padding: 17px 65px;
  @include border-radius;
  @include transition(all);
  &:hover {
    background-color: map-get($map: $primary, $key: "80");
  }
}
