//----------------------
// SELECT
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; /* Remove default arrow */
  border: none;
  padding: 8px 45px 8px 15px;
  border-radius: 8px;
  background-color: $background;
  background-image: url(../../assets/icon_arrow_down_blue.svg);
  @include background_images(12px, 68px center);
  color: map-get($map: $primary, $key: "100");
  @include transition(all);
  cursor: pointer;
  &:active,
  &:focus,
  &:hover {
    border: none;
    outline: none;
    background-color: map-get($map: $primary, $key: "10");
  }
}
option {
  font-size: 14px;
  background-color: #ffffff !important;
}

//----------------------
// INPUT
input {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 8px;
  background-color: $background;
  @include background_images(24px, 18px center);
  padding: 10px 20px 10px 60px;
  color: map-get($map: $black, $key: "20");
  font-size: 16px;
  &::placeholder {
    color: map-get($map: $black, $key: "20");
  }
  &:active,
  &:focus,
  &:hover {
    border: none;
    outline: none;
  }
}

input {
  &.email {
    background-image: url(../../assets/icon_message.svg);
  }
  &.password {
    background-image: url(../../assets/icon_lock.svg);
  }
}
